#information-bar {
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 20px #888;
    margin-bottom: 10px;
    font-size: 20px;
    text-shadow: #888 1px 1px 1px;

}

.highlighted {
    background-color: yellow;
}